body {
  margin: 0;
  font-size: 1.1em;
  font-family: "Poppins", sans-serif;
  color: #fff;
  height: 100vh;
  background: #00b4ff;
  background-image: url('https://res.cloudinary.com/dvo8xhx6r/image/upload/v1627800560/anastasia-kozheko-cloudy_rphh9l.gif');
  background-size: cover;
  animation: change 5s ease-in;
}
@keyframes change {
    from{
        color: #00b4ff;
    }
    to{
        color: #474747;
    }
}

.add {
  margin: 10px auto 0;
  width: 80%;
  max-width: 650px;
  min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.icon{
    display: flex;
    align-items: center;
}
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    justify-content: center;
    text-align: center;
}
#desc{
    font-weight: bold;
}
.img{
    width: 64px;
    height: 64px;
    margin-right: 10px;
}