body {
  margin: 0;
  font-size: 1.1em;
  font-family: "Poppins", sans-serif;
  color: rgb(230, 52, 52);
  height: 100vh;
  background-image: url('https://res.cloudinary.com/dvo8xhx6r/image/upload/v1627800560/anastasia-kozheko-cloudy_rphh9l.gif');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
@keyframes change {
    from{
        color: #00b4ff;
    }
    to{
        color: #474747;
    }
}

.add {
  margin: 10px auto 0;
  width: 80%;
  max-width: 650px;
  min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* text-align: center; */
}

.icon{
    display: flex;
    align-items: center;
    animation: change 1s ease-in infinite;
}
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    justify-content: center;
    text-align: center;
}
#desc{
    font-weight: bold;
}
.img{
    width: 64px;
    height: 64px;
    margin-right: 10px;
}
@media (max-width:475px) {
    h1{
        font-size: 20px;
    }
    .img{
        width: 30px;
        height: 30px;
    }
}